<!DOCTYPE html>
<html lang="en">
<head>
<title>Home page </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <style>
        div.s{
        background-color:lightblue;
        text-align:center;
        }
        table{
        width:100%;
        background-color:lightblue;
        }
        table,th,td{
        border:1px solid black;
        border-collapse: collapse;
        }
        th,td{
        text-align:center;
        }
        tr{
        background-color:"#2F4F4F";
        }
</style>

</head>
<body>
<h1 style="text-align:center,color:blue" > Your HomePage</h1>
<marquee direction="right" style="color:red"><h4>Hi {{ message.name }}</h4></marquee>


<div class="s">
    <h2 style="text-align:center">List of all courses available for Taship</h2>

<table>
<thead>
<tr>
<td>sl.no</td>
<td>Couse-name</td>
<td>Course-ID</td>
<td>Proffesor name</td>
<td>Course-Description</td>
</tr>
</thead>
<tbody>
{% for user in users %}
  <tr><td>{{ user.id }}</td>
	<td>{{ user.course_name }}</td>
	<td>{{ user.course_id }}</td>
	<td>{{ user.name }}</td>
	<td>{{ user.course_description }}</td></tr>
{% endfor %}
        </tbody>
</table>
</div>


<h1 style="text-align:center,color:red">Enter all your preferences at a single time</h1>
<br/>
<br/>
<br/>
<h1 style="text-align:center">select your preferences here</h1>

<div class="container">
<form id="form3" method = "POST" action="/student/addpreference">
<label>Preferense-1:</label>
<select class="selectname" name="course1_id">
{% for user in users %}
<option value="{{ user.course_id }}">{{ user.course_id }}</option>
{% endfor %}
</select>
<label>Preference-2:</label>
<select name="course2_id">
{% for user in users %}
<option value="{{ user.course_id }}">{{ user.course_id }}</option>
{% endfor %}
</select>
<label>Preference-3</label>
<select name="course3_id">
{% for user in users %}
<option value="{{ user.course_id }}">{{ user.course_id }}</option>
{% endfor %}
</select>
<input type="submit" value="Submit" class="btn btn-default">
</form>
</div>


<div class="container">
<h3 style="color:blue">logout button</h3>
<form method="POST" action="/student/logout">
<input type="submit" value="Logout" class="btn btn-default">
</form>
</div>

</body>
</html>

