<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student register </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Register form</h2>
  <form id="student_register">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control"  placeholder="Enter email">
    </div>
    <div class="form-group">
	<label for="name">Name:</label>
	<input type="text" class="form-control"  placeholder="Enter name">
	</div>
    <div class="form-group">
	<label for="roll">RollNo:</label>
	<input type="text" class="form-control" placeholder="Enter rollnumber">	
	</div>
    <div class="form-group">
	<label for="cgpa">CGPA:</label>
	<input type="text" class="form-control" placeholder="Enter cgpa">
	</div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" id="student_register_button" onclick='student_register()' class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>

